<div class="popup-items <%= "d-none" unless params[:item_created] == "true" %>" data-add-item-card-target="popup">
  <div class="items">
    <div class="additem" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <%= image_tag 'add_item.svg' %>
    </div>
    <% @items.each do |item| %>
      <%= link_to  layout_registered_items_path(@layout, item_id: item.id),data: {turbo_method: :post} do %>
      <div class="add-item">
        <%= item.title %>
        <img src="<%= cl_image_path(item.icon.photo.key)%>">
      </div>
      <% end %>
    <% end %>
  </div>
</div>
