<div class="popup-items <%= "d-none" unless params[:item_created] == "true" %>" data-add-item-card-target="popup">
  <div class="items">
    <div class="additem d-flex align-items-center" id="plusmark" data-bs-toggle="modal" data-bs-target="#addItemModal">
      <%= image_tag 'add_item.svg', class: "d-block mx-auto bg-white rounded-circle"%>
    </div>
    <% @items.each do |item| %>
      <div id="delete-item-wrapper">
        <div id="delete-item">
          <%= link_to "✖️", item_path(item, 'layout_id': @layout),
            data: {turbo_method: :delete, turbo_confirm: "Delete this item?"}%>
        </div>
        <%= link_to  layout_registered_items_path(@layout, item_id: item.id),data: {turbo_method: :post} do %>
          <div class="add-item">
            <% if item.title.split(" ").count > 1 %>
              <p><%= item.title.split.first %></p>
            <% else %>
              <p><%= item.title[0..5] %><%= item.title.length > 6 ? "..." : ""%></p>
            <% end %>
            <div id="item-size">
              (<%= item.d_length %>×<%= item.d_width %>)cm
              <img data-controller="items-size"
                    data-items-size-dimensions-value = "<%= [item.d_width, item.d_length].to_json %>"
                    src="<%= cl_image_path(item.icon.photo.key)%>">
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
