<div>
  <!-- Button trigger modal -->
  <div>
    <button type="button" class="btn btn-primary btn-outline-light" data-bs-toggle="modal" data-bs-target="#cretate-layout">
      Create Layout
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="cretate-layout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Import file</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @layout, html: { data: { controller: "photo-preview" } } do |f| %>
            <%= f.input :title, class: "title"%>
            <%= image_tag "upload.jpg", width: 300, class: "hidden", data: { photo_preview_target: "preview" } %>
            <%= f.input :photo, as: :file, input_html: { class: 'd-none', data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label_html: { class: 'upload-photo'}, label: 'ðŸ  Upload a layout' %>
            <%= f.button :submit, class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
