<div>
  <!-- Button trigger modal -->
  <div>
    <button type="button" class="btn btn-primary btn-outline-light" data-bs-toggle="modal" data-bs-target="#cretate-layout">
      Create Layout
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="cretate-layout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Import file</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="additembar" class="modal-body">
          <%= simple_form_for @layout, html: { data: { controller: "photo-preview", action:"submit->photo-preview#validate" } } do |f| %>
            <%= f.input :title, class: "title", input_html: {data: {photo_preview_target: "name"}} %>
            <%= image_tag "C&D image.png", width: 300, class: "hidden upload-placeholder", data: { photo_preview_target: "preview", action:"click->photo-preview#uploadPhoto dragover->photo-preview#dragover dragleave->photo-preview#dragleave drop->photo-preview#drop" } %>
            <%= f.input :photo, as: :file, input_html: { class: 'd-none', data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label: false, aria_label: "Upload Image" %>
            <%= f.submit 'Create Layout' ,class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
