<div class="mb-2 d-flex justify-content-around" >
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-outline-light col-4" data-bs-toggle="modal" data-bs-target="#layout-<%= layout.id %>">
    View
  </button >
  <%= link_to "Edit", edit_layout_path(layout), class:"btn btn-primary btn-outline-light col-4" %>
</div>
<!-- Modal -->
<div class="modal fade" id="layout-<%= layout.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="download-button">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview and quick edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" id="edit-canvas"
          data-controller="layout furniture-info"
          data-layout-scale-value= "<%= layout.scale_ratio %>"
          data-layout-img-url-value="<%=cl_image_path(layout.photo.key)%>"
          data-layout-furnitures-value="<%=@layout_items[index].to_json %>"
          data-layout-index-value="<%= index + 1 %>">
          <%# raise %>
          <canvas data-download-button-target="canvas" id="canvas-<%=index + 1%>" width="600" height="600" style="background-color: none; border: 1px solid #07A2BF"></canvas>
          <%= render 'layouts/furniture_info' %>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div>
          <h3><%= layout.title %></h3>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-action="click->download-button#download" class="btn btn-primary"><i class="fa-solid fa-download"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
