<%= render "shared/navbar" %>
<div class="edit-content" style= "margin: 0;" data-controller="download-edit add-item-card" data-add-item-card-popup-value="<%= @popup == true %>">
  <div class="nav-bar-container">
    <%= render 'shared/edit_navbar' %>
  </div>
  <%# <%= render 'shared/ikea_form', layout: @layout, item: @item %>
  <div class="plan-floor my-3">
    <%= render 'layouts/canvas', layout: @layout  %>
  </div>
  <%=  render 'shared/modal_create_items', layout: @layout, item: @item %>
</div>

<div class="scalebox-container">
  <p>100cm</p>
  <div class="scale-box" style="width: <%= 100 /  @layout.scale_ratio  %>px;"></div>
</div>
