<%= render "shared/navbar" %>
<div class="edit-content container" data-controller="download-edit add-item-card" data-add-item-card-popup-value="<%= @popup == true %>">
  <%= render 'shared/edit_navbar' %>
  <%= render 'shared/modal_create_items', layout: @layout, item: @item %>
  <%# <%= render 'shared/ikea_form', layout: @layout, item: @item %>
  <%= render 'shared/add_item_card' %>
  <%= render 'shared/shopping_cart'  %>
  <div class="plan-floor my-3">
    <%= render 'layouts/canvas', layout: @layout  %>
  </div>
</div>
